name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Cache pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip # This path is specific to Ubuntu
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-codalab-python
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with black
      run: |
        pip install --upgrade black==18.9b0
        black . --check --diff
    - name: Functionality
      env:
        CODALAB_USERNAME: codalab
        CODALAB_PASSWORD: codalab
      run: |
        #sudo rm /usr/local/bin/docker-compose
        #curl -L https://github.com/docker/compose/releases/download/1.23.2/docker-compose-`uname -s`-`uname -m` > docker-compose
        #chmod +x docker-compose
        #sudo mv docker-compose /usr/local/bin
        #sudo service mysql stop
        python3 codalab_service.py build services --version master --pull
        #python3 codalab_service.py start --services default monitor --version master 
        python3 codalab_service.py test run --version master
        #docker stop codalab_worker_1
        #python3 codalab_service.py start --services worker --version master --shared-file-system
        #python3 codalab_service.py test --version master --shared-file-system basic run read write kill resources netcat netcurl workers

